<nav>
  <%= button_to 'Create post', new_post_path, method: :get%>
</nav>

<% @posts.each do |post|%>
  <div class="post">
    <%if admin_signed_in? || user_signed_in?%>
  <% if admin_signed_in? ||@current_user.id == post.user_id%>
  <%= button_to 'Edit post', edit_post_path(post), method: :get %>
  <%= button_to 'Delete post', post_path(post), method: :delete%>
    <%end%>
   <%end%>
 
    <%= "Title: #{post.title}" %>
    <%= "Description #{post.body}"%>
      <div class="comments-section">
          <% if post.comments.any?%>
              <div class="comments">
                <ul></ul>
                <%post.comments.each do |comment|%>
                  <li><%= comment.body%></li>
                <%end%>
                <ul></ul>
              </div>
          <%end%>
        <%= form_with model: Comment.new , method: :post do |f|%>
            <%= f.text_field :body %>

            <%= f.hidden_field :post_id, value:post.id%>
            <% if user_signed_in?%>
            <%= f.hidden_field :user_id, value:@current_user.id %>
            <%end%>
            <%= f.submit 'Send comment' %>
        <%end%>
      </div>
  </div>
<%end%>